<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>697415312404-9vcgd0g5gi8fvrtin3sb4saguumi17sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697415312404-9vcgd0g5gi8fvrtin3sb4saguumi17sr</string>
	<key>API_KEY</key>
	<string>AIzaSyBRDglAmhulwDMlTyziBq79ZBWv-FNEZ8I</string>
	<key>GCM_SENDER_ID</key>
	<string>697415312404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.lighthouse.app</string>
	<key>PROJECT_ID</key>
	<string>lighthouse-e2641</string>
	<key>STORAGE_BUCKET</key>
	<string>lighthouse-e2641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:697415312404:ios:94f559d094e52b1f</string>
	<key>DATABASE_URL</key>
	<string>https://lighthouse-e2641.firebaseio.com</string>
</dict>
</plist>